.header
  .header__group__name
    group name
    .header__group__name__member
      Member:
  .header__edit
    Edit

.main
  .chat
    .message
      .message__name
        sho
      .message__date
        2020/6/11/22:46:33
    .past__message
      this is a first message

  .form
    %input.input__box{type: "text", placeholder: "type a message"}
    %label.input__image
      = icon('fas', 'image', class: "input__image__icon")
      %input.input__image__file{type: "file"}
    %input.input__send{type: "submit", value: "Send"} 