.top
  .top__left
    ユーザーネーム
  .top__right
    =link_to "#", class: "top__right__btn" do
      = icon('fas', 'edit')
    =link_to "#", class: "top__btn" do
      = icon('fas', 'cog')

.middle
  .group
    .group__name
      test
    .group__message
      this is a first message

  
