.top
  .top__left
    = current_user.name
  .top__right
    =link_to "#", class: "top__right__btn" do
      = icon('fas', 'edit')
    =link_to edit_user_path(current_user), class: "top__right__btn" do
      = icon('fas', 'cog')

.middle
  .group
    .group__name
      test
    .group__message
      まだメッセージはありません
  .group
    .group__name
      test2
    .group__message
      まだメッセージはありません

  
