$textcolor: #FFFFFF;

.top {
  background-color: #253141;
  height: 99px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  line-height: 99px;
  padding: 0 20px 0;
  &__left {
    color: $textcolor;
    font-weight: bold;
    font-size: 16px;
  }
  &__right {
    right: 20px;
    &__btn {
      color: $textcolor;
    }
  }  
}
.middle {
  width: 300px;
  height: calc(100vh - 99px);
  background-color: #2f3e51;
  .groups {
    .group {
      padding: 20px;
      font-weight: bold;
      &__name {
        font-size: 15px;
        color: $textcolor;
      }
      &__message {
        font-size: 11px;
        color: $textcolor;
      }
    }
  }
} 